@page "/"
@using deltapi_engine
@inherits MainComponent

<PageTitle>DeltApi</PageTitle>

<BSForm OnSubmit="@RunEngine" Model="@RunConfigModel" IsRow="true">
    <BSCol Column="auto">
        <BSLabel >Server A</BSLabel>
        <BSInput InputType="InputType.Text" @bind-Value="@RunConfigModel.ServerA"/>
    </BSCol>
    <BSCol Column="auto">
        <BSLabel>Server B</BSLabel>
        <BSInput InputType="InputType.Text" @bind-Value="@RunConfigModel.ServerB"/>
    </BSCol>
    <BSCol Column="auto">
        <InputFile OnChange="@LoadFiles" multiple>TOTO</InputFile>
    </BSCol>
    <BSCol Column="auto">
        <BSButton Color="BSColor.Primary" IsSubmit="true" MarginBottom="Margins.Medium">Run</BSButton>
    </BSCol>
</BSForm>

@if (loadingTask is {IsCompleted: true })
{
    <GridComponent T="DeltApiActionReport" Grid="@reportGrid" @ref="@reportGridComponent" OnRowClicked="OnRowClicked"/>
    <BSContainer>
        <BSRow>
        <BSCol>
            <BSCard CardType="CardType.Card">
                <BSCard CardType="CardType.Header">Server A: @StatusA</BSCard>
                <BSCard CardType="CardType.Body">
                    @ContentA
                </BSCard>
            </BSCard>
        </BSCol>
        <BSCol>
            <BSCard CardType="CardType.Card">
                <BSCard CardType="CardType.Header">Server B: @StatusB</BSCard>
                <BSCard CardType="CardType.Body">
                    @ContentB
                </BSCard>
            </BSCard>
        </BSCol>
        </BSRow>
    </BSContainer>
}
else
{
    <p><em>Loading...</em></p>
}
