@page "/"
@using deltapi_engine
@inherits MainComponent

<PageTitle>DeltApi</PageTitle>

@if (loadingTask is {IsCompleted: true })
{
    <BSContainer Container="Container.Fluid">
        <BSRow>
            <BSCol Class="col-4">
                <BSCard CardType="CardType.Card">
                    <BSCard CardType="CardType.Header">Actions</BSCard>
                    <BSCard CardType="CardType.Body">
                        <InputFile OnChange="@LoadFiles" multiple></InputFile>
                        <BSButtonGroup>
                            <BSButton Color="BSColor.Primary" OnClick="RunEngine">@Helper.Icon("media-play")</BSButton>
                            <BSButton Color="BSColor.Primary" OnClick="PauseEngine">@Helper.Icon("media-pause")</BSButton>
                            <BSButton Color="BSColor.Primary" OnClick="StopEngine">@Helper.Icon("media-stop")</BSButton>
                            <BSButton Color="BSColor.Primary" Target="properties">@Helper.Icon("wrench")</BSButton>
                        </BSButtonGroup>
                        <BSCollapse DataId="properties">
                            <BSCard CardType="CardType.Card">
                                <BSLabel For="delayMs">Delay (ms)</BSLabel><BSInput Id="delayMs" InputType="InputType.Number" @bind-Value="@RunConfigModel.DelayMs"/>
                                <div Class="@BS.Form_Check">
                                    <BSLabel IsCheckLabel="true" For="pauseError">Pause after error</BSLabel>
                                    <BSInputCheckbox Id="pauseError" @bind-Value="RunConfigModel.PauseAfterError" CheckedValue="true" UnCheckedValue="false"/> 
                                </div>
                            </BSCard>
                        </BSCollapse>
                        <GridComponent T="DeltApiActionReport" Grid="@reportGrid" @ref="@reportGridComponent" OnRowClicked="OnRowClicked"/>
                    </BSCard>
                </BSCard>
            </BSCol>
            <BSCol Class="col-4">
                <BSCard CardType="CardType.Card">
                    <BSCard CardType="CardType.Header">
                        <BSLabel >Server A</BSLabel><BSInput InputType="InputType.Text" @bind-Value="@RunConfigModel.ServerA"/>
                    </BSCard>
                    <BSCard CardType="CardType.Body">
                        <BSAlert Color="BSColor.Info">@StatusA</BSAlert>
                        @ContentA
                    </BSCard>
                </BSCard>
            </BSCol>
            <BSCol Class="col-4">
                <BSCard CardType="CardType.Card">
                    <BSCard CardType="CardType.Header">
                        <BSLabel>Server B</BSLabel><BSInput InputType="InputType.Text" @bind-Value="@RunConfigModel.ServerB"/>
                    </BSCard>
                    <BSCard CardType="CardType.Body">
                        <BSAlert Color="BSColor.Info">@StatusB</BSAlert>
                        @ContentB
                    </BSCard>
                </BSCard>
            </BSCol>
        </BSRow>
    </BSContainer>
}
else
{
    <p>
        <em>Loading...</em>
    </p>
}