@page "/"
@using deltapi_engine
@inherits MainComponent

<PageTitle>DeltApi</PageTitle>

@if (loadingTask is {IsCompleted: true })
{
    <BSContainer Container="Container.Fluid">
        <BSRow>
            <BSCol Class="col-4">
                <BSCard CardType="CardType.Card">
                    <BSCard CardType="CardType.Header">Actions</BSCard>
                    <BSCard CardType="CardType.Body">
                        <InputFile OnChange="@LoadFiles" multiple></InputFile>
                        <BSButtonGroup>
                            <BSButton Color="BSColor.Primary" OnClick="RunEngine">@Icon("media-play")</BSButton>
                            <BSButton Color="BSColor.Primary" OnClick="PauseEngine">@Icon("media-pause")</BSButton>
                            <BSButton Color="BSColor.Primary" OnClick="StopEngine">@Icon("media-stop")</BSButton>
                        </BSButtonGroup>
                        <GridComponent T="DeltApiActionReport" Grid="@reportGrid" @ref="@reportGridComponent" OnRowClicked="OnRowClicked"/>
                    </BSCard>
                </BSCard>
            </BSCol>
            <BSCol Class="col-4">
                <BSCard CardType="CardType.Card">
                    <BSCard CardType="CardType.Header">
                        <BSLabel >Server A</BSLabel><BSInput InputType="InputType.Text" @bind-Value="@RunConfigModel.ServerA"/>
                    </BSCard>
                    <BSCard CardType="CardType.Body">
                        <BSAlert Color="BSColor.Info">@StatusA</BSAlert>
                        @ContentA
                    </BSCard>
                </BSCard>
            </BSCol>
            <BSCol Class="col-4">
                <BSCard CardType="CardType.Card">
                    <BSCard CardType="CardType.Header">
                        <BSLabel>Server B</BSLabel><BSInput InputType="InputType.Text" @bind-Value="@RunConfigModel.ServerB"/>
                    </BSCard>
                    <BSCard CardType="CardType.Body">
                        <BSAlert Color="BSColor.Info">@StatusB</BSAlert>
                        @ContentB
                    </BSCard>
                </BSCard>
            </BSCol>
        </BSRow>
    </BSContainer>
}
else
{
    <p>
        <em>Loading...</em>
    </p>
}